header {background-color:rgb(246, 8, 139); padding: 5px 5px 5px 5px; text-align: center;}
body {background-color: rgb(243, 206, 232);}
nav {text-align:center; padding: 5px; background-color:rgba(248, 141, 216, 0.534)}
nav a {margin:15px; text-decoration: none; border-color: rgb(204, 4, 147);}
nav a:hover {background-color: rgb(232, 182, 215); color:rgb(249, 5, 119)}
.intro {
    display: flex;
    align-items:baseline;
    justify-content:flex-start;
    padding: 20px;}
.intro div {width: 60%;}
.about-platform {color: rgba(250, 144, 203, 0.534);}
h1 {color:rgb(252, 250, 247); text-decoration: underline;}
h2, h3, h4 {color: rgb(251, 249, 246); padding: 5px; text-decoration: underline;}
p {padding: 5px 5px 5px 5px}
table {border: black; border-collapse:collapse; margin-top: 2%; margin-bottom: 2%; padding-bottom: 5px;}
thead {background-color: rgb(241, 134, 206); padding: 12px; border: 1px solid black; text-align: left;}
td {padding: 10px; border: 1px solid black}
.div1 {background-color: rgba(237, 124, 177, 0.534); padding-bottom: 5px;}